{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}

{% block content %}

 <!-- header image -->

 <div class="about-header position-relative">
    <h1 class="header-text text-light top-50">About Us</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">
    <div class="container">
      <!-- About the church -->
      <p class="container leading-2 mt-3" style="text-align: justify;"> <span class="fw-bold fs-3"> &nbsp; W</span>elcome to African Inland Church of Kenya.. 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque necessitatibus esse nisi sint quaerat alias. Optio numquam mollitia, natus debitis, in neque hic necessitatibus recusandae ea aperiam, ipsa dolorem sapiente?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, voluptas veniam? Consectetur, sint nostrum? Vero voluptatibus accusamus perferendis itaque quisquam repellat est voluptatum assumenda libero. Voluptas animi voluptate obcaecati sed?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates iste placeat laboriosam quidem quae sapiente quod fugiat consequatur voluptatum quisquam perspiciatis facere voluptate, amet natus non sequi tenetur praesentium? Voluptas!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint maxime voluptatum reprehenderit pariatur eaque deserunt laudantium commodi ullam temporibus, ab esse, perferendis inventore, hic minima beatae. Asperiores a facilis quod?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, cumque repudiandae? Molestiae, ullam voluptatem? Aliquam, corrupti sequi minus similique omnis in, pariatur laudantium saepe deserunt commodi eveniet quidem magni autem.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum ad sequi dolores sit temporibus commodi. Ullam, laborum assumenda enim blanditiis dignissimos sit corrupti delectus quidem vero quos. Reprehenderit, odio.

      </p>

      <!-- Services available -->
      
      <div class="programs container-fluid mt-5 mb-2">

          <div class="program-cont justify-content-center row p-2">
              <div class="col-lg-5 col-md-5 col-12 mt-4">
                  <h3 class="text-light fw-bold text-center py-5">
                      Join Us Every Sunday to Worship and Fellowship Together
                  </h3>

              </div>

              <div class="col-lg-5 col-md-5 col-12 mt-3">

                  <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                      <i class="fa-solid fa-church"></i>&nbsp Main Service
                                  </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">
                                  First Service - 07:00 Am - 09:00 Am <br><br> Second Service - 09:30 Am - 11:30 Am
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      <i class="fa-solid fa-person-praying"></i>&nbsp Wednesday Fellowship  
                                  </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">Wednesday Fellowship- 5:00 Pm - 6:00 Pm</div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      <i class="fa-solid fa-hands-holding-child"></i>&nbsp Sunday School
                                  </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">Sunday 07:00 Am - 09:00 Am</div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                      <i class="fa-solid fa-children"></i>&nbsp Youth
                                  </button>
                          </h2>
                          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">Sunday 12:00 - 2:00 Pm</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <!-- Services end -->


      <!-- Some Info Cont -->

      <!-- Benefits of joining -->

      <div class="row gap-3 mt-5 justify-content-center">

          <h2 class="text-center text-wrap fw-bold"> 
              Benefits of Joining African Inland Church
          </h2>

          <div class="row gap-lg-5  justify-content-center align-items-center mt-5">
              <div class="col-lg-3 col-md-5 col-m-5">
                  <h5 class="fw-bold mt-2">FIND FULLFILMENT AND JOY</h5>

                  <p class="text-wrap mb-4" style="text-align: justify;">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo distinctio voluptatem animi reiciendis nulla? Nam magni a minus .
                      
                  </p>
              </div>
              <div class="col-lg-3 col-md-5 col-sm-5">
                  <img src="{% static './assets/benefits4.png' %}" class="benefits-img" alt="">
              </div>
          </div>

          <div class="row gap-lg-5  justify-content-center align-items-center mt-5">
            <div class="col-lg-3 col-md-5 col-sm-5">
              <img src="{% static './assets/benefits3.png' %}" class="benefits-img" alt="">
            </div>

            <div class="col-lg-3 col-md-5 col-sm-5">
                <h5 class="fw-bold mt-4">Shared Values</h5>

                <p class="text-wrap" style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo distinctio voluptatem animi reiciendis nulla? Nam magni a minus .
                    
                </p>
            </div>
            
        </div>

        <div class="row gap-lg-5  justify-content-center align-items-center mt-5">
          <div class="col-lg-3 col-md-5 col-sm-5">
              <h5 class="fw-bold">Charity Events</h5>

              <p class="text-wrap" style="text-align: justify;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo distinctio voluptatem animi reiciendis nulla? Nam magni a minus .
                  
              </p>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5">
              <img src="{% static './assets/benefits2.png' %}" class="benefits-img" alt="">
          </div>
      </div>

      <div class="row gap-lg-5  justify-content-center align-items-center mt-5">
        <div class="col-lg-3 col-md-5 col-sm-5">
          <img src="{% static './assets/benefits1.png' %}" class="benefits-img" alt="">
        </div>

        <div class="col-lg-3 col-md-5 col-sm-5">
            <h5 class="fw-bold mt-4">All are Welcome</h5>

            <p class="text-wrap" style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo distinctio voluptatem animi reiciendis nulla? Nam magni a minus .
                
            </p>
        </div>
        
    </div>

      </div>

    </div>

    <!-- end of Benefits of joining -->

    <!-- Ministers -->
    <div id="row justify-content-center mx-auto container">

      <h1 class="text-center fw-bold"> Our Ministers</h1>

      <div class="col-lg-5 col-md-7 col-10 align-self-center mx-auto">
        <div class="nav-c-slider">

          <a class="next-slide" href="JavaScript:void(0)" data-slide="1">
  
              <img class="animate__animated animate__fadeIn " src="{% static './assets/pst1.png' %}" alt="img 1">
              <p class="text-center about-pst fw-medium"> Pastor Juma</p>
  
          </a>
  
          <a class="next-slide" href="JavaScript:void(0)" data-slide="2">
  
              <img class="animate__animated animate__fadeIn" src="{% static './assets/pst2.png' %}" alt="img 2">
              <p class="text-center about-pst fw-medium"> Pastor Juma</p>

          </a>
  
          <a class="next-slide" href="JavaScript:void(0)" data-slide="3">
  
              <img class="animate__animated animate__fadeIn" src="{% static './assets/pst1.png' %}" alt="img 3">
              <p class="text-center about-pst fw-medium"> Pastor Juma</p>

          </a>
  
          <a class="next-slide" href="JavaScript:void(0)" data-slide="4">
  
              <img class="animate__animated animate__fadeIn" src="{% static './assets/pst2.png' %}" alt="img 4">
              <p class="text-center about-pst fw-medium"> Pastor Juma</p>
          </a>
  
          <div class="slider-main-img">
  
              <img src="{% static './assets/pst2.png' %}" alt="img 5">
  
          </div>
  
      </div>
  
      </div>

    </div>

      
    
    <!-- Some Info -->
    <div>
      <div class="row mt-5 mx-auto justify-content-center">
        
        <div class="col-7">
          <h3 class="text-center text-wrap"> 
            We Gather for Inspiration, Fellowship, and Guidance in Christian Discipleship</h3>
        </div>

        <div class="col-12 row mt-5 justify-content-center">

          <div class="col-lg-4 col-md-4 col-10">
            <img src="./assets/praise.png" class="info-img p-3 bg-danger-subtle mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              Praise & Worship
            </h6>
            <p class="text-wrap text-center">
              Welcome to African Inland Church where we serve God through praises, worship & much More.
            </p>
          </div>

          <div class="col-lg-4 col-md-4 col-10">
            <img src="./assets/connect.png" class=" info-img p-2 bg-danger-subtle mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              Praise & Worship
            </h6>
            <p class="text-wrap text-center">
             Our Church is open to any individual regardless of race, ethnicity or gender. Lets connect.
            </p>
          </div>

          <div class="col-lg-4 col-md-4 col-10">
            <img src="./assets/love.png" class=" info-img p-2 bg-danger-subtle mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              Love
            </h6>
            <p class="text-wrap text-center">
              Here We show love to any person in ways that you cannot imagine. For God love us unconditionally.
            </p>
          </div>

        </div>
        
      </div>
    </div>

    <!-- Some info end-->

{% endblock %}