{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}

{% block content %}

 <!-- header image -->

  <div class="card bg-dark text-white header-sect rounded-0 border-0">
    <div class="card-img header-img about-header"> </div>
    <div class="card-img-overlay">
      <h2 class="card-title header-text">About Us</h2>
    </div>
  </div>


  <!-- header image end-->
  
  <div class="container-fluid position-relative">
      <!-- About the church -->
      <div class="row justify-content-center mt-4 mx-auto">
        <div class="col-lg-6 col-md-10 col-12 mb-4">

          <div class="row mx-auto">
          
            <p class="container-fluid" style="text-align: justify;"> 
              <span class="lead"> &nbsp; St Peter’s Cathedral</span> is situated within Voi central business District in Voi sub county Taita Taveta County. 
              While the Cathedral is administered by the Cathedral Dean it also hosts the Bishop’s official seat called the
              Cathedra. The Sitting Capacity of the main sanctuary is approximated to be 1500 Congregants.
            </p>
  
            <h2 class="fw-medium mt-3 mb-4"> Our History </h2>
            <div class="row mt-3">
              <div class="col-12">
  
                  <div class="hist-item p-2">
                    <h4 class="fw-bold hist-dates">1993</h4>
  
                    <p class="text-wrap" style="text-align: justify;"> 
                      The Diocese of Taita Taveta was curved out from Momabasa Diocese on 1st July 1993. 
                      The First Bishop was Dr. Samson Mwalunda who was consencrated on 24th October 1993 
                      and the main parish being ACK St. John's Pro-Cathedral Voi, Kariakoo..
                    </p>
                  </div>
  
              </div>
  
              <div class="col-12">
  
                <div class="hist-item p-2">
                  <h4 class="fw-bold hist-dates">2010</h4>
  
                  <p class="text-wrap" style="text-align: justify;"> 
                    In 2010, some worshipers of A.C.K St. John’s Pro-Cathedral Voi, Kariakoo decided to 
                    move to already existing site meant for the construction of the Cathedral. 
                    These members formed a congregation and started worshipping in a 200-sitter pitched 
                    tent which was reffered to as ACK Cathedral Project Site Worship Center with 
                    Rev. Geoffrey Lamisi as the Vicar and Rev. Michael Mwaita as the Curate.
                  </p>
                </div>
                
              </div>
  
              <div class="col-12">
  
                <div class="hist-item p-2">
                  <h4 class="fw-bold hist-dates">2011 - 2013</h4>
  
                  <p class="text-wrap" style="text-align: justify;"> 
                    In 2011, the Diocese envisioned to raise funds for the construction of the Cathedral.
                    On 23rd November 2013, the Cathedral's stone foundation was laid by the then Archbishop 
                    of the Anglican Church of Kenya, His Grace the Most Re. Dr. Eliud Wabukala assisted by Right
                    Rev. Dr. Samson Mwalunda, the Bishop of Taita Taveta Diocese. The Construction works lasted for
                    nine years.
                  </p>
                </div>
                
              </div>
  
              <div class="col-12">
  
                <div class="hist-item p-2">
                  <h4 class="fw-bold hist-dates">2014 - 2016</h4>
  
                  <p class="text-wrap" style="text-align: justify;"> 
                    In 2014, Bishop Liverson Mn'gonda was first elected Bishop Co-adjutor upon the retirement of
                    Bishop Mwaluda. He was then later enthroned as the second Bishop of Taita Taveta Diocese in 2016.
                  </p>
                </div>
                
              </div>
  
              <div class="col-12">
  
                <div class="hist-item p-2">
                  <h4 class="fw-bold hist-dates">2020</h4>
  
                  <p class="text-wrap" style="text-align: justify;"> 
                    On 13th December 2020, the new Cathedral was finally consecrated by The Most Reverend Archbishop
                    Jackson Nasoore Ole Sapit assisted by Rt. Rev.Liverson Mng’onda.
                  </p>
                </div>
                
              </div>
  
            </div>

          </div>
        </div>

        <div class="col-lg-6 col-md-10 col-12 align-self-center">
          <img src="{% static './assets/church.png' %}" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row mt-5 container justify-content-center mx-auto">
        <div class="col-12">
          <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active fw-medium" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
              <i class="fa-solid fa-eye"></i> Vision
            </a>
            <a class="list-group-item list-group-item-action fw-medium" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
              <i class="fa-solid fa-flag"></i> Mission
            </a>
            <a class="list-group-item list-group-item-action fw-medium" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">
              <i class="fa-solid fa-hand-holding-heart"></i>Values
            </a>
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">A transformative and empowering Chsirt centered Cathedral</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"> To empower the church holistically through evangelism and Discipleship to acheive our God-given purpose.</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <ul>
                <li>Love - The greatest commandment</li>
                <li>Stewardship - Rsponsible attitude towards creation</li>
                <li>Transparency and Accounatbility - Effective and efficient management of avilable resources</li>
                <li>Family Unit - We beleive there is nothing more important than strong united Loving families instituted by God</li>
                <li>Excellence - We beleive excellence honors God and inspires greatness in serving God and humanity</li>
                <li>Prayer - We beleive in the power of prayers and that makes a critical difference in all we attempt to acheive. We are to be a house of prayer for all nations</li>
                <li>Authenticity - Through authentic living, biblical authority, worship, prayer and spirit</li>
                <li>Equipping - We belive in equipping the saints for ministry and life by nurturing them to operate in their spiritual gifts</li>
                <li>Committed community - Through intimacy within the community, servant Leadership, genuine relationships and beauty diversity.</li>
            </div>
          </div>
        </div>
      </div>

      <!-- Organogram -->
      <div class="text-center">
        <h2 class="fw-medium mt-3 mb-4"> Our Organogram </h2>
        <img src="{% static './assets/organogram.png' %}" class="organogram" alt="Organogram">
      </div>

      <!-- Services available -->
      
      <div class="programs container-fluid mt-5 mb-2">

          <div class="program-cont justify-content-center row p-2">
              <div class="col-lg-5 col-md-5 col-12 mt-4">
                  <h3 class="text-light fw-bold text-center py-5">
                      Join Us Every Sunday to Worship and Fellowship Together
                  </h3>

              </div>

              <div class="col-lg-5 col-md-5 col-12 mt-3">

                  <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                      <i class="fa-solid fa-church"></i>&nbsp Main Service
                                  </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">
                                  First Service - 07:00 Am - 09:00 Am <br><br> Second Service - 09:30 Am - 11:30 Am
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      <i class="fa-solid fa-person-praying"></i>&nbsp Wednesday Fellowship  
                                  </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">Wednesday Fellowship- 5:00 Pm - 6:00 Pm</div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      <i class="fa-solid fa-hands-holding-child"></i>&nbsp Sunday School
                                  </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">Sunday 07:00 Am - 09:00 Am</div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                      <i class="fa-solid fa-children"></i>&nbsp Youth
                                  </button>
                          </h2>
                          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-bold">Sunday 12:00 - 2:00 Pm</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <!-- Services end -->


     

      

    <!-- Ministers -->
    <div id="row justify-content-center mx-auto container">

      <h1 class="text-center fw-bold mt-4"> Our Ministers</h1>

      <div class="col-xl-5 col-lg-4 col-md-6 col-10 align-self-center mx-auto">
        <div class="nav-c-slider">

          <a class="next-slide" href="JavaScript:void(0)" data-slide="1">
  
              <img class="animate__animated animate__fadeIn " src="{% static './assets/pst1.png' %}" alt="img 1">
              <p class="text-center about-pst fw-medium"> Rt. Rev. Liverson Mng'onda</p>
  
          </a>
  
          <a class="next-slide" href="JavaScript:void(0)" data-slide="2">
  
              <img class="animate__animated animate__fadeIn" src="{% static './assets/pst.png' %}" alt="img 2">
              <p class="text-center about-pst fw-medium"> Bishop Mwaluda <br /> Diocesan Bishop 1993 to 2016</p>

          </a>
  
          <a class="next-slide" href="JavaScript:void(0)" data-slide="3">
  
              <img class="animate__animated animate__fadeIn" src="{% static './assets/pst3.png' %}" alt="img 3">
              <p class="text-center about-pst fw-medium"> rev ....</p>

          </a>
  
          <a class="next-slide" href="JavaScript:void(0)" data-slide="4">
  
              <img class="animate__animated animate__fadeIn" src="{% static './assets/pst.png' %}" alt="img 4">
              <p class="text-center about-pst fw-medium"> Bishop Mwaluda <br /> Diocesan Bishop 1993 to 2016</p>
          </a>
  
          <div class="slider-main-img">
  
              <img src="{% static './assets/pst1.png' %}" alt="img 5">
  
          </div>
  
      </div>
  
      </div>

    </div>

      
    
    <!-- The Church Group -->
    <div>
      <div class="row mt-5 mx-auto justify-content-center">
        
        <div class="col-7">
          <h2 class="text-center text-wrap fw-medium">Church Groups</h2>
        </div>

        <div class="col-12 row mt-5 justify-content-center">

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/men.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Kenya Anglican Men Association</a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/mothersunion.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Mother's Union & CWF </a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/youth.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Kenya Anglican Youth Organization</a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/boysbrigade.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Boys Brigade </a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/girlscout.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Girls' Friendly Society</a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/men.png' %}" class="group-img p-3  mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Kenya Anglican Men Association</a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/praise&adoration.png' %}" class="group-img p-3 bg-danger-subtle mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Praise & Adoration</a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/choir.png' %}" class="group-img p-3 bg-danger-subtle mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Church Choir</a>
            </h6>
          </div>

          <div class="col-lg-2 col-md-3 col-6">
            <img src="{% static './assets/children.png' %}" class="group-img p-3 bg-danger-subtle mx-auto d-block rounded-circle" alt="praise and worship">
            <h6 class="fw-bold text-center mt-2">
              <a href="" class="text-decoration-none fw-medium text-dark"> Childrens' Ministry</a>
            </h6>
          </div>

          
        </div>
        
      </div>
    </div>

    <!-- Some info end-->

{% endblock %}