{% extends 'base.html' %}
{% load static %}

{% block title %}
Baptism
{% endblock %}

{% block content %}
 <!-- header image -->

 <div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Baptism</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <!-- Sermon detail -->
    
    <h6 class="fw-bold mt-4 text-center">
    Get baptised today!!!
    </h6>

    <div class="row pt-4 justify-content-center">

      <p>
        To get baptised, please contact the office line <span class="text-danger">+254000000</span>
        or send an email to <span class="text-danger">info@aic.com</span> </p>

      
    </div>
{% endblock %}