{% extends 'base.html' %}
{% load static %}

{% block title %}
Baptism
{% endblock %}

{% block content %}
 <!-- header image -->

  <div class="card bg-dark text-white header-sect rounded-0 border-0">
    <div class="card-img header-img baptism-header"> </div>
    <div class="card-img-overlay">
      <h2 class="card-title header-text">Get Baptised</h2>
      <p class="m-4 mt-1"> 
        
        And now why do you wait? Rise and be baptized and wash away your sins, calling on his name. - <span class="fst-italic"> Acts 22:16 </span>
    </p>
    </div>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">
    
    <h6 class="fw-bold mt-4 text-center">
    Get baptised today!!!
    </h6>

    <div class="row pt-4 justify-content-center">

      <p>
        To get baptised, please contact the office line <span class="text-danger">+254000000</span>
        or send an email to <span class="text-danger">info@ackstpeterscathedral.com</span> </p>

      
    </div>
{% endblock %}