{% extends 'base.html' %}
{% load static %}

{% block title %}
Careers
{% endblock %}

{% block content %}
<!-- header image -->

    <div class="card bg-dark text-white header-sect rounded-0 border-0">
        <div class="card-img header-img careers-header"> </div>
        <div class="card-img-overlay">
        <h2 class="card-title header-text">Careers</h2>
            
        </div>
    </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <div class="row justify-content-center container mx-auto pt-4 mt-5">

        {% for career in careers %}

            <div class="col-lg-5 col-md-6 col-8 pb-3">
                <a href="{% url 'church:career_detail' career.slug %}" class="text-decoration-none drop-links">
                    <h3 class="text-start text-capitalize">{{ career.title }}</h3>
                </a>
                <p><span class="fw-bold">Deadline </span> | {{ career.deadline | date}}</p>
            </div>
        {% empty %}
            <h5 class="text-center"> There no Open vacancies at the moment</h5>
        {% endfor %}
    </div>
{% endblock %}