{% extends 'base.html' %}
{% load static %}

{% block title %}
Careers
{% endblock %}

{% block content %}
<!-- header image -->

<div class="about-header position-relative">
    <!-- header image -->

  <div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Baptism</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <!-- Sermon detail -->
    
    <h6 class="fw-bold mt-4 text-center">
    Get baptised today!!!
    </h6>

    <div class="row pt-4 justify-content-center">

      <p>
        To get baptised, please contact the office line <span class="text-danger">+254000000</span>
        or send an email to <span class="text-danger">info@aic.com</span> </p>

      
    </div> <h1 class="header-text text-light top-50">Careers</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <div class="row justify-content-center container mx-auto pt-4 mt-5">

        <div class="col-lg-5 col-md-6 col-8 pb-3">
            <a href="careersdetail.html" class="text-decoration-none drop-links">
                <h3 class="text-start">Web Administrator</h3>
            </a>
            <p><span class="fw-bold">Deadline </span> | 23rd Oct 2022</p>
        </div>

        <div class="col-lg-5 col-md-6 col-8 pb-3">
            <a href="careersdetail.html" class="text-decoration-none drop-links">
                <h3 class="text-start">Web Administrator</h3>
            </a>
            <p><span class="fw-bold">Deadline </span> | 23rd Oct 2022</p>
        </div>

        <div class="col-lg-5 col-md-6 col-8 pb-3">
            <a href="careersdetail.html" class="text-decoration-none drop-links">
                <h3 class="text-start">Web Administrator</h3>
            </a>
            <p><span class="fw-bold">Deadline </span> | 23rd Oct 2022</p>
        </div>

        <div class="col-lg-5 col-md-6 col-8 pb-3">
            <a href="careersdetail.html" class="text-decoration-none drop-links">
                <h3 class="text-start">Web Administrator</h3>
            </a>
            <p><span class="fw-bold">Deadline </span> | 23rd Oct 2022</p>
        </div>

    </div>
{% endblock %}