{% extends 'base.html' %}
{% load static %}

{% block title %}
Dedicate your Child
{% endblock %}

{% block content %}

<style>
    .form-control {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-size: 13px;
        border-bottom: 1px solid #d3d3d3;
        background: transparent;
    }
</style>
 <!-- header image -->

 <div class="card bg-dark text-white header-sect rounded-0 border-0">
    <div class="card-img header-img dedicate-header"> </div>
    <div class="card-img-overlay">
      <h2 class="card-title header-text">Child Dedication</h2>
        <p class="m-4 mt-1"> 
            Behold, children are a gift of the Lord,
            The fruit of the womb is a reward. - <span class="fst-italic"> Psalm 127:3 </span>
        </p>
    </div>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <div class="row pt-4 justify-content-center">

      <div class="col-lg-5 col-md-5 col-12">
        <h4>Child Dedication Procedure</h4>
        <ol type='number'>
            <li>
                <h6>Plan a Parents' Meeting</h6>
                <p>
                    Through the church council, you can schedule a meeting with the pastor to discuss the dedication of your child. The pastor will explain the process and answer any questions you may have.
                </p>
            </li>

            <li> 
                <h6>Provide Parent Trainning</h6>
                <p>
                    Parental Trainning is arranged several days before the dedication date. This trainning is used to teach and explain
                    the dedication service and reignforce a biblical vision for Christian parenting.
                </p>
            </li>
            <li> 
                <h6>Day of the Service - Affirmations</h6>
                <p>
                    The family will be invited to the fron of the church along wiwth their child where they will affirm their commitment to raise their child in the fear and admonition of the Lord.
                </p>
            </li>

            <li> 
                <h6>Day of Service - Blessing Prayer</h6>
                <p>
                    After the parents have affirmed their commitment, the Bishop will pray for the child and the parents.
                </p>
            </li>
        </ol>
      </div>

      <div class="col-lg-5 col-md-5 col-12">

        <form>
            <h5 class="fw-bold text-center">
                Dedication Form
            </h5>

            <h6 class="fw-medium">
                Child Information
            </h6>
                       
            <input type="text" class="form-control mb-3" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon1">

            <input type="text" class="form-control mb-3" placeholder="Gender" aria-label="Full Name" aria-describedby="basic-addon1">

            <input type="text" class="form-control mb-3" placeholder="Date Of Birth" aria-label="Full Name" aria-describedby="basic-addon1">

            <input type="text" class="form-control mb-3" placeholder="Date Of Dedication" aria-label="Full Name" aria-describedby="basic-addon1">
            
            <h6 class="fw-medium">
                Parents' Information
            </h6>
                       
            <input type="text" class="form-control mb-3" placeholder="Mother's Full Name" aria-label="Full Name" aria-describedby="basic-addon1">

            <input type="number" class="form-control mb-3" placeholder="Mother's Contact" aria-label="Full Name" aria-describedby="basic-addon1">

            <input type="text" class="form-control mb-3" placeholder="Father's Full Name" aria-label="Full Name" aria-describedby="basic-addon1">

            <input type="text" class="form-control mb-3" placeholder="Father's Contact" aria-label="Full Name" aria-describedby="basic-addon1">
            

            <button type="submit" class="btn btn-dark btn-outline-danger text-light border-0 fw-medium">Request Dedication</button>
          </form>
      </div>

      
    </div>
{% endblock %}