{% load static %}

<!-- The Church Group -->
<div>
    <div class="row mt-5 mx-auto justify-content-center">
      
      <div class="col-7">
        <h2 class="text-center text-wrap fw-medium">Church Groups</h2>
      </div>

      <div class="row gx-5 gy-3 justify-content-center">

        <div class="col-lg-3 col-md-5 col-12">

          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/men.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="kama">
            </div>

            <div class="col-9 align-self-center text-center text-wrap pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2">
                <a href="{% url 'church:kama' %}" class="text-decoration-none fw-medium text-dark text-wrap"> Kenya Anglican Men Association (KAMA) </a>
              </h6>

              <a href="{% url 'church:kama' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/mothersunion.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
                <a href="{% url 'church:women' %}" class="text-decoration-none fw-medium text-dark"> Mother's Union & CWF </a>
              </h6>

              <a href="{% url 'church:women' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>


        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/youth.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
              <a href="{% url 'church:youth' %}" class="text-decoration-none fw-medium text-dark"> Kenya Anglican Youth Organization</a>
              </h6>

              <a href="{% url 'church:youth' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/boysbrigade.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
                <a href="{% url 'church:boys' %}" class="text-decoration-none fw-medium text-dark"> Boys Brigade </a>
              </h6>

              <a href="{% url 'church:boys' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/girlscout.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
              <a href="{% url 'church:girls' %}" class="text-decoration-none fw-medium text-dark"> Girls' Friendly Society</a>
              </h6>

              <a href="{% url 'church:girls' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/praisenadoration.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
                <a href="{% url 'church:praise' %}" class="text-decoration-none fw-medium text-dark"> Praise & Adoration</a>
              </h6>

              <a href="{% url 'church:praise' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/choir.png' %}" class="group-img p-3 mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
                <a href="{% url 'church:choir' %}" class="text-decoration-none fw-medium text-dark"> Church Choir</a>
              </h6>

              <a href="{% url 'church:choir' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-5 col-12">
          <div class="group-cont bg-white row rounded">
            <div class="col-3">
              <img src="{% static './assets/children.png' %}" class="group-img mx-auto d-block rounded-circle" alt="praise and worship">
            </div>

            <div class="col-9 align-self-center text-center pe-1 pr-1">
              <h6 class="fw-bold text-center group-title mt-2 fs-sm">
                <a href="{% url 'church:children' %}" class="text-decoration-none fw-medium text-dark"> Childrens' Ministry</a>
              </h6>

              <a href="{% url 'church:children' %}" class="text-decoration-none group-learn-more"> Learn More</a>
            </div>
          </div>

        </div>
        
      </div>
      
    </div>
  </div>