{% extends 'base.html' %}
{% load static %}
{% block title %}
PCC Committees
{% endblock %}

{% block content %}
 <!-- header image -->
    <div class="about-header position-relative text-light">
        <div class="head-text-cont position-absolute">
            <h2 class="card-title header-text">PCC Committees</h2>
        <p class="m-4 mt-1"> 
            Without consultation, plans are frustrated,
            But with many counselors they succeed.- 
            <span class="fst-italic"> Proverbs 15:22</span>
        </p>
        </div>
    </div>
  <!-- header image end-->

  <div class="container-fluid">

   <div class="mt-3 container">
        <div class="text-center">
             <!-- Worship, Mission & Evangelism Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Worship, Mission & Evangelism
            </button>

            <!-- Human Resource & Administration Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#HrAdmin">
                Human Resource & Administration
            </button>

            <!-- Finance Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#Finance">
                Finance Committee
            </button>

            <!-- Procurement Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#Procurement">
                Procurement Committee
            </button>

            <!-- Development Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#Development">
                Development Committee
            </button>

            <!-- Hospitality and welfare Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#Hospitality">
                Hospitality and welfare Committee
            </button>

            <!-- Education, Media & Training Committee Modal btn-->
            <button type="button" class="btn btn-warning fw-medium btn-outline-dark border-0 mt-2" data-bs-toggle="modal" data-bs-target="#Education">
                Education, Media & Training Committee
            </button>
        </div>
    
        <!-- Worship, Mission & Evangelism Committee Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Worship, Mission & Evangelism Committee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        It is the mandate of this Committee to strengthen the spiritual well-being of the entire congregation by
                        fostering a sense of «Church family» and of fellowship and belonging. It is also their mandate to ensure
                        the expansion of the Kingdom of Christ on earth.
                    </p>

                    <h6 class="fw-medium"> Duties </h6>

                    <ul class="unstyled"> 
                        <li> 
                            Planning and conducting missions by and for the Church 
                        </li>
                        <li> 
                            Conduct overall planning and scheduling of music and worship-related events throughout the year.
                        </li>
                        <li> 
                            Visit and keep in touch with those people who· for various reasons are unable to participate in
                            the regular life of the congregation.
                        </li>
                        <li> 
                            Offer ministry to the bereaved
                        </li>
                        <li> 
                            Organize and monitor cell groups meetings and allocate speakers for each cell meeting.
                        </li>
                        <li> 
                            Send cards/flowers or similar affectionate actions to acknowledge times of celebrations, (e. g .
                            birthday cards to Sun       day School), grief or illness.
                        </li>
                        <li> 
                            Develop and implement the overall plan for evangelism.
                        </li>
                        <li>
                            Ensure a seamless process for the conducting of intercessory prayers
                        </li>
                        <li>
                            To promote Christian Fellowship, Love and Unity in the Church and the society and to promote
                            spiritual enthusiasm among its members.
                        </li>
                        <li>
                            Regulation, maintenance and up-grading of sound systems and equipment
                        </li>
                        <li>
                            Ensure care and maintenance of Choir robes, Church linen and vestments.
                        </li>
                    </ul>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Human Resource & Administration Committee Modal -->
        <div class="modal fade" id="HrAdmin" tabindex="-1" aria-labelledby="HrAdminLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="HrAdminLabel">Human Resource & Administration</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        To oversee the general administration of the Cathedral Church staff, care and maintenance of Church
                        buildings and grounds, office activities and equipment and recommend procedures for enhancement
                        of service delivery from suppliers and contractors. This committee works in liaison with the Cathedral
                        Administrator’s office.
                    </p>

                    <h6 class="fw-medium"> Duties </h6>

                    <li> 
                        To ensure that staff personnel are well managed, through a robust policy environment, record
                        management according to best practice and in consultation with the Church leadership.
                    </li>
                    <li> 
                        Manage the Church’s properties, fittings and equipment.
                    </li>
                    <li> 
                        Manage the Church office, this will include but not be limited to; overseeing seamless regular
                        Church operations, supervise secretarial and clerical personnel: oversee maintenance of
                        office equipment and computers; ensure that computer files are backed up on regular
                        basis; arrange for staff training for use of computers and office equipment, review
                        office equipment and computers from time to time and recommend when new
                        machines should be purchased and administer the budget.
                    </li>
                    <li> 
                        Seek legal, tax and business advice for the Church.
                    </li>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Finance Committee Modal -->
        <div class="modal fade" id="Finance" tabindex="-1" aria-labelledby="FinanceLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Finance Committee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        To assume total responsibility for the finances of the church/ congregation
                    </p>

                    <h6 class="fw-medium"> Duties </h6>

                    <li> 
                        Collate study and organize information for formulation of the church budgets, Providing
                        financial analysis thereof, advice, and oversight of the church budget
                    </li>
                    <li> Guide the Committees on the budget (Processes and relevant detail).</li>
                    <li> Ensure proper management of Receipts and disbursements of funds.</li>
                    <li> Ensure proper recording and reporting on member records and church finances</li>
                    <li> To plan and direct all church fund-raising campaigns for funds for various uses</li>
                    <li> Recruit and schedule offertory counters and handling for banking</li>
                    <li> Provide quarterly financial statements and reviews.</li>
                    <li> Oversee the work of the Church accountant to ensure efficient and accurate bookkeeping.</li>
                    <li> Plan for suitable investment of surplus funds and or sourcing for deficits as and when
                        applicable</li>
                    <li> 
                        Approve requests and present to the PCC expenditures of funds that are over and above
                        Church budgets for approval.
                    </li>
                    <li> 
                        Organize for and procure the best possible financial advice for the church given the
circumstances and also audit of the finances
                    </li>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Procurement Committee Modal -->
        <div class="modal fade" id="Procurement" tabindex="-1" aria-labelledby="ProcurementLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="HrAdminLabel">Procurement Committee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        To guide the design and implementation of procurement policies and procedures that will ensure timely
                        delivery of quality products at reasonable prices, prudent use of St. Peter’s Cathedral Voi resources and
                        safeguard the Church reputation as an honest and fair purchaser. 
                    </p>

                    <h6 class="fw-medium"> Duties </h6>
                    <li> 
                        To develop and continually review the St. Peter’s Cathedral Voi Procurement manual for improvement and submit such changes as may arise to the Parochial Church Council (PCC) for approval. 
                    </li>
                    <li> 
                        Guiding the church in developing the Procurement Plan in conformity with the medium-term fiscal framework and fiscal policy objectives
                    </li>
                    <li> 
                        Ensuring adherence to procurement rules and regulations 
                    </li>
                    <li> 
                        Ensure that procurement of goods, works and services are within the approved budget of the church. 
                    </li>
                    <li> 
                        To receive written statements of need from various Cathedral committees and groups and initiate relevant action within 14 days. 
                    </li>
                    <li> 
                        To prepare invitations of bid documents in line with such information as collected and collated from Cathedral committees and groups. 
                    </li>
                    <li> 
                        To select the efficient and cost effective method of procurement based on the importance and urgency of the need at hand via direct procurement, requests for quotations open or restricted tenders, invitation of interest and request for proposals or other viable method as may arise as long as the chosen method promotes fair competitive bidding and value for money. 
                    </li>
                    <li> 
                        To determine and apply the reasonable conditions for particular need to procure goods and or services, opening and closing dates, qualification criteria , tender fees, performance bonds, retention fee, warranty conditions, communication channels etc. 
                    </li>
                    <li> 
                        To prepare timely responses to queries received from prospective bidders in liaison with the relevant Cathedral committees and groups and consider such requests as for extension of tender closing dates, revision of specifications in line with market trends, inclusion of new information not previously available to the committee or other relevant criteria. 
                    </li>
                    <li> 
                        To carry out opening, technical and financial evaluation of bids or applications and prepare detailed reports on behalf of the Parochial Church Council (PCC). 
                    </li>
                    <li> 
                        To ensure safe and secure custody (through the Cathedral Administrator) of the tender box, keys, tender documents and materials in accordance with the St. Peter’s Cathedral Voi policies and procedures. 
                    </li>
                    <li> 
                        To ensure that all procurement of goods and services are preceded with budget allocation and that no budgetary overruns are allowed without the authority of the Parochial Church Council (PCC). 
                    </li>
                    
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Development Committee Modal -->
        <div class="modal fade" id="Development" tabindex="-1" aria-labelledby="DevelopmentLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Development Committee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        To plan and manage major physical and more often infrastructural and fittings projects of the church. 
                         Duties
                    </p>

                    <h6 class="fw-medium"> Duties </h6>
                    <li> 
                        Incorporate and build in the church, the use of relevant cross-functional professionals in planning use, maintenance, development and expansion of church physical properties. 
                    </li>
                    <li> 
                        Develop and maintain policies and procedures to foster optimal and good use of Church real properties. 
                    </li>
                    <li> 
                        To plan the physical infrastructure development of the Church compound and possible external Church properties. 
                    </li>
                    <li> 
                        Prepare Bill of Quantities for any upcoming projects. Undertake supervisory client or owner role in project execution by external contractors. 
                    </li>
                    <li> 
                        Make regular assessment and procure inspection reports of Church real estate properties including mobile plants.
                    </li>
                    <li> 
                        Be responsible for repairs, improvements, and construction of church developments as directed by the Church. 
                    </li>
                    <li> 
                        Initiate timely valuations of Church real properties and maintain a register.
                    </li>
                    <li> 
                        Submit an annual budget and administer it up to and including the plugging of gaps fund- raising according to Church spending procedures.
                    </li>
                    <li>
                        Ensure compliance especially to laws relating to building and environmental standards necessary NEMA and County Government By-Laws and adhered to by the Church. 
                    </li>
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hospitality and welfare Committee Modal -->
        <div class="modal fade" id="Hospitality" tabindex="-1" aria-labelledby="HospitalityLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="HrAdminLabel">Hospitality and welfare Committee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        To plan and conduct outreach activities that welcome new members and also make those new visitors who attend church for the first time feel welcome and remain members as applicable and organizing Church wide fellowships, receptions, and special event meals.     
                    </p>

                    <h6 class="fw-medium"> Duties </h6>
                    <li>
                        Plan details of all Church wide banquets. fellowships, and picnics as related to food service and decorations 
                    </li>
                    <li>
                        Host receptions as requested and/or coordinated by PCC
                    </li>
                    <li>
                        Be available to assist and oversee receptions, anniversaries. and weddings as directed by the Church pertaining to those events
                    </li>
                    <li>
                        Oversee the operation of the Kitchen facility including evaluation of equipment and recommendations for improvements
                    </li>
                    <li>
                        Plan accommodation and welfare for guests of the Church;
                    </li>
                    <li>
                        Plan for refreshments after Services every Sunday
                    </li>
                    <li>
                        Organize health days for the Church including providing information about disease outbreaks and management advice
                    </li>
                    <li>
                        Submit an annual budget and administer it according to Church spending procedures. 
                    </li>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education, Media & Training  Committee Modal -->
        <div class="modal fade" id="Education" tabindex="-1" aria-labelledby="EducationLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Education, Media & Training Committee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    <h6 class="fw-medium"> Purpose </h6>

                    <p class="text-justify">
                        To keep a written record of Cathedral history, membership and publicize the Church ministries through the news media, and identify training needs for staff, Sunday school teachers and the cathedral clergy and laymen     
                    </p>

                    <h6 class="fw-medium"> Duties </h6>
                    <li>
                        To research the history of the Cathedral by gathering and preserving items of historical interest such as pictures, newspaper clippings with dates of service of pastors and staff members, special occasions such as Church anniversaries building dedications beginnings of and constitutions of missions, etc. 
                    </li>
                    <li>
                        To publicize revivals, conferences, Bible studies, other special services in the news media 
                    </li>
                    <li>
                        To organize training for leadership and preaching and lay servants 
                    </li>
                    <li>
                        To organize for the development of and maintain an appealing website, designing Church-wide brochures for outreach efforts etc. 
                    </li>
                    <li>
                        To inspire the establishment of a Christian library on religious topics.
                    </li>
                    <li>
                        To foster education to the congregation on Church doctrine, laws and canonical requirements. 
                    </li>
                    <li>
                        Publish a Cathedral Newsletter
                    </li>
                    <li>
                        Inspire the writing and future review of the Cathedral Constitution 
                    </li>
                    <li>
                        Submit an annual budget and administer it according to Church spending procedures. 
                    </li>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


   </div>

{% endblock %}