{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

<!-- header image -->

<div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Contact Us</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <div class="row justify-content-center mt-5">
        <h1 class="text-center mb-5"> Have any Questions? <br> Feel Free to Contact Us</h1>
        <div class="col-lg-4 col-md-4 col-8 align-self-center fs-5">
            
            <div class="col-10 align-self-center mx-auto text-center">
              
              <div class="mb-2">
                <div class="contact-details">
                    <div class="cnct-details text-light pt-4 pb-4">
                        <i class="fa-solid fa-location-dot fa-2x"></i>
                        <h5 class="fw-bold">Our Location</h5>
                        <h6>75 - 80300, Voi Kenya</h6>
                    </div>
                </div>
              </div>

            <!--contact details cont -->
            <div class="mb-2">
                <div class="contact-details">
                    <div class="cnct-details text-light pt-4 pb-4">
                        <i class="fa-solid fa-phone fa-2x"></i>
                        <h5 class="fw-bold">Our Phone</h5>
                        <h6>+254 742 000 000</h6>
                    </div>
                </div>
            </div>

            <!--contact details cont -->
            <div class="mb-2">
                <div class="contact-details">
                    <div class="cnct-details text-light pt-4 pb-4">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                        <h5 class="fw-bold">Our Mail</h5>
                        <h6>info@ackstpeterscathedral.com</h6>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 col-8">
            <form action="">

                <div class="row justify-content-center">
                    <div class="col-10">
                        <input type="text" class="form-control mb-3 rounded-pill p-3" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon1">
                    </div>

                    <div class="col-10">
                        <input type="email" class="form-control mb-3 rounded-pill p-3" placeholder="Email Address" aria-label="Phone Number" aria-describedby="basic-addon1">
                    </div>

                    <div class="col-10">
                        <input type="text" class="form-control mb-3 rounded-pill p-3" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
                    </div>

                    <div class="col-10">
                        <textarea class="form-control mb-3 rounded-5" name="Your Testimony" placeholder="Your Message" style="height: 200px;"></textarea>
                    </div>
                </div>

                <div class="row justify-content-center text-center">
                    <div class="col-lg-5 col-md-6 col-10">
                        <button class="btn btn-danger btn-md fw-bold rounded-pill" type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}