{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ event.title }}
{% endblock %}

{% block content %}

      <!-- header image end-->
      
      <div class="container-fluid">

        <!-- Sermon detail -->
        
        <h2 class="fw-medium mt-4 text-capitalize">
          {{ event.title }}
        </h2>

        <div class="row container-fluid pt-4">

          <div class="col-4 text-center">
            <i class="fa-solid fa-calendar-days text-danger fa-2x"></i> 
            <p class="pt-1 fw-medium">Openning Time <br>
            <span class="text-danger pt-1 fs-6">{{ event.commence_date }} </span></p>
          </div>

          <div class="col-4 text-center">
            <i class="fa-solid fa-location text-danger fa-2x"></i> 
            <p class="pt-1 fw-medium">Event Location<br>
            <span class="text-danger pt-1 fs-6">{{ event.location }} </span></p>
          </div>

          <div class="col-4 text-center">
            <i class="fa-solid fa-ticket text-danger fa-2x"></i> 
            <p class="pt-1 fw-medium">Tickets Information <br>
            <span class="text-danger pt-1 fs-6">{{ event.entry_fee }}</span></p>
          </div>

          <div class="col-12" style="text-align: justify;">
            {% autoescape off %}
              {{ event.content | linebreaks }}
            {% endautoescape %}
          </div>

        </div>



        <!-- Sermons detail-->

{% endblock %}