{% extends 'base.html' %}
{% load static %}

{% load cropping %}

{% block title %}
Events
{% endblock %}

{% block content %}

 <!-- header image -->

    <div class="card bg-dark text-white header-sect rounded-0 border-0">
        <div class="card-img header-img event-header"> </div>
        <div class="card-img-overlay">
        <h2 class="card-title header-text">Events</h2>
        </div>
    </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <!-- Sermons -->
    <div class="row gap-5 justify-content-center mt-4">

        {% for event in event_list %}

        <!-- single news&event -->
        <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="{% cropped_thumbnail event "cropping" %}" class="card-img-top img news-event-img " alt="feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-medium text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp {{ event.commence_date }}
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="{% url 'church:event_detail' event.slug %}" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                {{ event.title }}
                            </a>
                    </h4>
                    {% autoescape off %}
                        <p class="card-text text-start">{{ event.content | linebreaks | truncatechars:80 }}</p>
                    {% endautoescape %}
                    
                    <a href="{% url 'church:event_detail' event.slug %}" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                        Learn More
                     </a>
                </div>
            </div>
        </div>

        {% empty %}

        <h4 class="fw-bold text-center mt-5"> There are no events yet. Please Check in Later </h4>

        {% endfor %}
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {%if page_obj.has_previous %} {# whether the previous page exists #}
                    <li class="page-item bg-dark rounded">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link bg-transparent text-danger fw-bold rounded">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item bg-dark rounded">
                    <a class="page-link bg-transparent text-danger fw-bold rounded" href="#">{{page_obj.number}}</a>
                </li>
    
                {% if page_obj.has_next %} {# whether the next page exists #}
                    <li class="page-item bg-dark rounded">
                        <a class="page-link bg-transparent text-danger fw-bold rounded" href="{{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
    
           </nav>


    </div>


    <!-- Sermons end-->

{% endblock %}