{% extends 'base.html' %}
{% load static %}

{% block title %}
Events
{% endblock %}

{% block content %}

 <!-- header image -->

 <div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Events</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <!-- Sermons -->
    <div class="row gap-5 justify-content-center mt-4">

        <!-- single news&event -->
        <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="./assets/construction.png" class="card-img-top img news-event-img " alt="sermon feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-bold text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp 23rd Oct 2021 1200hrs
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="eventsdetail.html" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                Laying down a new Foundation
                            </a>
                    </h4>

                    <p class="card-text text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores itaque, eum dignissimos laborum repudiandae ...

                    </p>
                    <a href="eventdetail.html" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                            Learn More
                        </a>
                </div>
            </div>
        </div>

         <!-- single news&event -->
         <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="./assets/construction.png" class="card-img-top img news-event-img " alt="sermon feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-bold text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp 23rd Oct 2021 1200hrs
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="eventsdetail.html" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                Laying down a new Foundation
                            </a>
                    </h4>

                    <p class="card-text text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores itaque, eum dignissimos laborum repudiandae ...

                    </p>
                    <a href="eventdetail.html" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                            Learn More
                        </a>
                </div>
            </div>
        </div>

        <!-- single news&event -->
        <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="./assets/construction.png" class="card-img-top img news-event-img " alt="sermon feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-bold text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp 23rd Oct 2021 1200hrs
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="eventsdetail.html" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                Laying down a new Foundation
                            </a>
                    </h4>

                    <p class="card-text text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores itaque, eum dignissimos laborum repudiandae ...

                    </p>
                    <a href="eventdetail.html" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                            Learn More
                        </a>
                </div>
            </div>
        </div>

         <!-- single news&event -->
         <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="./assets/construction.png" class="card-img-top img news-event-img " alt="sermon feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-bold text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp 23rd Oct 2021 1200hrs
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="eventsdetail.html" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                Laying down a new Foundation
                            </a>
                    </h4>

                    <p class="card-text text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores itaque, eum dignissimos laborum repudiandae ...

                    </p>
                    <a href="eventdetail.html" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                            Learn More
                        </a>
                </div>
            </div>
        </div>

        <!-- single news&event -->
        <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="./assets/construction.png" class="card-img-top img news-event-img " alt="sermon feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-bold text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp 23rd Oct 2021 1200hrs
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="eventsdetail.html" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                Laying down a new Foundation
                            </a>
                    </h4>

                    <p class="card-text text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores itaque, eum dignissimos laborum repudiandae ...

                    </p>
                    <a href="eventdetail.html" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                            Learn More
                        </a>
                </div>
            </div>
        </div>

         <!-- single news&event -->
         <div class="col-lg-3 col-md-4 col-9 mt-3">
            <div class="card w-100 news-event-cont border-0" data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="./assets/construction.png" class="card-img-top img news-event-img " alt="sermon feature img">

                <div class=" card-body text-center news-event-body-cont bg-light hvr-float">
                    <div class="calender-clock text-start bg-danger p-1 rounded fw-bold text-light">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp &nbsp 23rd Oct 2021 1200hrs
                    </div>
                    <h4 class="card-title mt-3">
                        <a href="eventsdetail.html" class="text-decoration-none text-capitalize sermon-title fw-bold" target="_blank" rel="noopener noreferrer">
                                Laying down a new Foundation
                            </a>
                    </h4>

                    <p class="card-text text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores itaque, eum dignissimos laborum repudiandae ...

                    </p>
                    <a href="eventdetail.html" class="btn btn-danger btn-md btn-outline-dark border-0 fw-bold">
                            Learn More
                        </a>
                </div>
            </div>
        </div>


      <div class="mt-5 text-center">
        <input type="submit" value="LOAD MORE" class="fw-medium btn btn-danger btn-outline-dark border-0 rounded-pill p-2 px-4">
      </div>
    </div>


    <!-- Sermons end-->

{% endblock %}