{% extends 'base.html' %}
{% load static %}

{% block title %}
Getting Married
{% endblock %}

{% block content %}

 <!-- header image -->
  <div class="about-header married-header position-relative text-light">

    <div class="head-text-cont position-absolute">
      <h2 class="card-title header-text">Getting Married</h2>
      <p class="m-4 mt-1"> 
        I have found the one whom my soul loves. - <span class="fst-italic"> Song of Solomon 3:4 </span>
    </p>
    </div>
</div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <h4 class="fw-bold mt-4">
        Introduction
    </h4>

    <p style="text-align: justify;">
      Congratulations on embarking upon the beautiful journey of marriage! Whether you are a starry-eyed couple ready to say "I do" or a couple exploring the idea of taking this significant step, below is a comprehensive guide to provide you with essential information and heartfelt advice to help you navigate the path to a blissful matrimony.
    </p>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% comment %} <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Steps</button>
        </li> {% endcomment %}
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Requirements</button>
        </li>
        
      </ul>
      {% comment %} <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <ol>
                <li>Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
                <li>Step 5</li>
            </ol>
        </div> {% endcomment %}
        <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <ol>
                <li>ID CARD COPIES (COUPLE) 1 EACH.</li>
                <li>ID CARD COPIES (WITNESS) 1 EACH.</li>
                <li>2 PASSPORT SIZE PHOTOS (COUPLE) 1 EACH.</li>
                <li>COPY OF LICENSE FROM THE OFFICIATING MINISTER DULLY STAMPED.</li>
                <li>CHURCH TO WRITE AN INTRODUCTORY LETTER CONCERNING THE COUPLE, THEIR MARIRAL STATUS (Bachelor, Spinister, Widow(er), Divorced person or Married under Customary law
                  ) AND WEDDING DATE TO THE REGISTRAR OF MARRIAGES VOI. PLEASE NOTE: THE LETTER SHOULD HAVE A CHURCH STAMP OF THE VENUE OF THE WEDDING</li>
                <li>BLANK COPY OF MARRIAGE CERTIFICATE OF MARRIAGE DULLY STAMPED AT THE BACK AND A COPY OF SERIAL NUMBER OF THE MARRIAGE BOOK</li>
                <li>FOR A DIVORCED PERSON WHO WANTS TO REMARRY - A COPY OF DECREE OF ABSOLUTE (DIVORCE) OR NISI</li>
                <li>PERSONS MARRYING FOR THE FIRST TIME i.e (Bachelor OR Spinister) AND A COUPLE ALREADY LIVING TOGETHER i.e (MARRIED UNDER CUSTOMARY LAW) TO BRING A LETTER FROM AREA CHIEF
                  OR ASSISTANT CHIEF CONFIRMING MARITAL STATUS AND AREA OF JURISIDICTION
                </li>
                <li>CONSENT LETTER FROM BRIDES PARENTS</li>
                <li>NOTICE OF MARRIAGE - KSHS 600 1ST DAY</li>
                <li>REGISTRAR CERTIFICATE - KSHS. 800 AFTER 21 DAYS</li>
                <li>WHEN PLACING THE NOTICE, BOTH THE BRIDE AND THE GROOM TO BE PRESENT</li>
               
              </ol>

             
            <span class"fw-bold">
              DISCLAIMER: NOTICE OF MARRIAGE FORMS FORM MA2 ARE NO LONGER USED. </br>
              FORM MA4 - AFFIDAVIT IS STILL IN USE.
            </span>
        </div>
      </div>
    

{% endblock %}