{% extends 'base.html' %}
{% load static %}

{% block title %}
Getting Married
{% endblock %}

{% block content %}

 <!-- header image -->
  <div class="about-header married-header position-relative text-light">

    <div class="head-text-cont position-absolute">
      <h2 class="card-title header-text">Getting Married</h2>
      <p class="m-4 mt-1"> 
        I have found the one whom my soul loves. - <span class="fst-italic"> Song of Solomon 3:4 </span>
    </p>
    </div>
</div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <h4 class="fw-bold mt-4">
        Introduction
    </h4>

    <p style="text-align: justify;">
        Some Information about getting Married  in the church.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque molestiae necessitatibus accusantium sit sunt vitae perspiciatis, voluptas nisi tempore dolor facere similique impedit soluta, temporibus ipsam fugiat? Porro, error. Optio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quibusdam voluptates dolor, hic aspernatur est? Beatae commodi facilis esse rem culpa ipsam cupiditate, sequi consectetur, similique tempore earum iusto! Iure!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid eligendi ipsa est nobis impedit quasi recusandae doloremque quam ducimus ullam sit culpa reiciendis, dolores labore illo eos nihil! Nobis.
    </p>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Steps</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Requirements</button>
        </li>
        
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <ol>
                <li>Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
                <li>Step 5</li>
            </ol>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <ul>
                <li>Requirement 1</li>
                <li>Requirement 2</li>
                <li>Requirement 3</li>
                <li>Requirement 4</li>
                <li>Requirement 5</li>
            </ul>
        </div>
      </div>
    

    <div class="row pt-4 justify-content-center">

      
      
    </div>

{% endblock %}