{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<!-- header image -->

<div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Give</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <div class="row justify-content-center mx-auto container pt-4 mt-5">

        <div class="p-5 payment-method  col-lg-6 col-md-10 col-12 row justify-content-center">
          <h2 class="fw-bold text-center pb-5">Choose Payment Method</h2>

        <div class="form-check col-lg-6 col-md-6 col-6" onclick="document.location.href='mpesa.html'" style="cursor: pointer;">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <div class="form-check-label card border-0" for="flexRadioDefault1">
            <img src="./assets/mpesa.png" class="card-img w-50">
          </div>
        </div>


        <div class="form-check col-lg-6 col-md-6 col-6" onclick="document.location.href='card.html'" style="cursor: pointer;"">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <div class="form-check-label card border-0" for="flexRadioDefault2">
            <img src="./assets/card.png" class="card-img w-50">
          </div>
        </div>
        </div>

    </div>
{% endblock %}