{% extends 'base.html' %}
{% load static %}

{% block title %}
Give
{% endblock %}

{% block content %}
<!-- header image -->
    <div class="about-header give-header position-relative text-light">

      <div class="head-text-cont position-absolute">
        <h2 class="card-title header-text">Give</h2>
        <p class="m-4 mt-1"> 
          Good will come to those who are generous and lend freely ... - 
          <span class="fst-italic"> Psalm 112:5</span>
      </p>
      </div>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <div class="row justify-content-center mx-auto container pt-4 mt-5">

        <div class="p-5 payment-method  col-lg-6 col-md-10 col-12 row justify-content-center">
          <h2 class="fw-bold text-center pb-5">Choose Payment Method</h2>

        <div class="form-check col-lg-6 col-md-6 col-6" onclick="document.location.href='{% url 'church:mpesa' %}'" style="cursor: pointer;">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <div class="form-check-label card border-0" for="flexRadioDefault1">
            <img src="{% static './assets/mpesa.png' %}" class="card-img w-50">
          </div>
        </div>


        <div class="form-check col-lg-6 col-md-6 col-6" onclick="document.location.href='{% url 'church:card' %}'" style="cursor: pointer;">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <div class="form-check-label card border-0" for="flexRadioDefault2">
            <img src="{% static './assets/card.png' %}" class="card-img w-50">
          </div>
        </div>
        </div>

    </div>
{% endblock %}