{% extends 'base.html' %}
{% load static %}

{% block title %}
New Member?
{% endblock %}

{% block content %}
<!-- header image -->

<style>
    .form-control {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-size: 13px;
        border-bottom: 1px solid #d3d3d3;
        background: transparent;
    }
  </style>
  
  <!-- header image -->
  
    <div class="card bg-dark text-white header-sect rounded-0 border-0">
      <div class="card-img header-img member-header"> </div>
      <div class="card-img-overlay">
        <h2 class="card-title header-text">New Beleiver?</h2>
        <p class="m-4 mt-1"> 
            Therefore welcome one another as Christ has welcomed you, for the glory of God. - 
          <span class="fst-italic"> Romans 15:7</span>
      </p>
      </div>
    </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <h4 class="fw-bold mt-4 text-center">
        Welcome to Our Church
    </h4>        

    <div class="row pt-4 justify-content-center gap-1">


      <div class="col-lg-4 col-md-5 col-12 align-self-center">
        <h5 class="fw-bold"> At the Reception</h5>
        <p>Meet our Ministers</p>
        <p>Get Introduced to various departments and Ministries</p>
        <p>Have a cup of coffee</p>
      </div>

      <div class="col-lg-6">
        <h5 class="fw-medium mt-4 text-center mb-3">
            Lets know you better
        </h5>
        <form action="">
                
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-10">
                    <input type="text" class="form-control mb-3" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon1">
                </div>

                <div class="col-lg-5 col-md-6 col-10">
                    <input type="number" class="form-control mb-3" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon1">
                </div>

                <div class="col-lg-10 col-md-12 col-10">
                    <input type="text" class="form-control mb-3" placeholder="Current Church" aria-label="Subject" aria-describedby="basic-addon1">
                </div>

                <div class="col-lg-10 col-md-12 col-10">
                    <input type="text" class="form-control mb-3" placeholder="Area of Residence" aria-label="Subject" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-lg-5 col-md-6 col-10">
                    <button class="btn btn-danger btn-md fw-bold" type="submit">Register</button>
                </div>
            </div>
        </form>
      </div>
      
    </div>
{% endblock %}