{% extends 'base.html' %}
{% load static %}

{% block title %}
Praise and Adoration
{% endblock %}

{% block content %}
    <!-- header image -->
  
    <div class="card bg-dark text-white header-sect rounded-0 border-0">
        <div class="card-img header-img member-header"> </div>
        <div class="card-img-overlay">
          <h2 class="card-title header-text">Praise and Adoration</h2>
          <p class="m-4 mt-1"> 
            Let the word of Christ richly dwell within you, with all wisdom teaching and admonishing one another ...- 
            <span class="fst-italic"> Collosians 3:16 </span>
        </p>
        </div>
      </div>
  
    <!-- header image end-->

   
        <img src="{% static './assets/praise.png' %}" class="position-relative ministry-icon rounded-circle top-50 start-50 translate-middle" alt="kama">
 
  
  <div class="container-fluid">

    <div class="mt-1 container">
        
        <div class="row mx-auto justify-content-center">
            <div class="col-lg-8 col-md-6 col-12">
                <p style="text-align: justify;">
                    The biblical aspect of Praise and Adoration team is to lead the congregation during Worship. The team
                    co-ordinates with Mission and Evangelism of the Church to ensure there is solemn devotion in all Church services. <br>
                </p>
                    
                <h4 class="text-center">Praise and Adoration Objectives</h4>
                <ul> 
                    <li>Increase diversity in worship experiences</li>
                    <li>Improve participation revival meetings in all revival meetings</li>
                    <li>Learn news ways and approaches</li>
                    <li>Nurture future talent for continuity</li>
                    <li>Set aside resources in enhancing our worship experience</li>
                    <li>To create a conducive atmosphere of Worship during church services/ fellowships</li>
                    <li>Plan and execute capacity building in worship</li>
                    <li>To lead people in worship, prayer and supplication in making their needs.</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                {% include 'side_bar.html' %}
            </div>
        </div>
            
    </div>
{% endblock %}