{% extends 'base.html' %}
{% load static %}

{% block title %}
Prayer Request
{% endblock %}

{% block content %}
<style>
  .form-control {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      font-size: 13px;
      border-bottom: 1px solid #d3d3d3;
      background: transparent;
  }
</style>

<!-- header image -->

  <div class="card bg-dark text-white header-sect rounded-0 border-0">
    <div class="card-img header-img prayer-header"> </div>
    <div class="card-img-overlay">
      <h2 class="card-title header-text">Prayer Request</h2>
      <p class="m-4 mt-1"> 
        Let us then with confidence draw near to the throne of grace, that we may receive mercy and find grace to help in time of need - 
        <span class="fst-italic"> Hebrews 4:16</span>
    </p>
    </div>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <h5 class="fw-medium mt-4 text-center">
        Lets Pray With you
    </h5> 
    
    {% for message in messages %}
      <div class="container-fluid p-2">
        {% if message %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <div class="row pt-4 justify-content-center gap-4">

      <div class="col-lg-4 col-md-5 col-12" style="text-align: justify;">
        The purpose of prayer requests is to get more people involved in praying. 
        Prayer is more powerful when lots of people are praying for the same things. 
        It's also an excellent way of showing support other church members. 
        Especially if you're all praying for someone in the church - it makes them feel loved and cared for.
      </div>

      <div class="col-lg-4 col-md-5 col-12 align-self-center">
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>Ask and it will be given to you; seek and you will find; knock and the door will be opened to you.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Matthew 7:7<cite title="Source Title">NIV</cite>
            </figcaption>
          </figure>
      </div>

      <div class="col-10">
        <h5 class="fw-medium mt-4 text-center mb-3">
            Prayer Request Form.
        </h5>
        <form method="POST">
          {% csrf_token %}

            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-5 col-10">
                    <input type="text" name="name" required class="form-control mb-3" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon1">
                </div>

                <div class="col-lg-5 col-md-5 col-10">
                    <input type="number" name="phone_number" required class="form-control mb-3" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon1">
                </div>

                <div class="col-lg-10 col-md-10 col-10">
                    <input type="text" name="title" required class="form-control mb-3" placeholder="Request Title" aria-label="Subject" aria-describedby="basic-addon1">
                </div>

                <div class="col-lg-10 col-md-10 col-10">
                    <textarea name="content" required class="form-control mb-3" name="prayer" placeholder="Your Request" style="height: 100px;"></textarea>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-lg-5 col-md-6 col-10">
                    <button class="btn btn-danger btn-md btn-outline-dark border-0" type="submit">Submit Request</button>
                </div>
            </div>
        </form>
      </div>
      
    </div>
{% endblock %}