{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ sermon.title }}
{% endblock %}

{% block content %}
<!-- header image -->

<div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Sermon</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <!-- Sermon detail-->
    <div class="mt-4">
        <p class="text-uppercase text-danger opacity-100 d-inline" style="font-size:smaller; margin-bottom: -2px;">
             {{ sermon.preacher }} &nbsp / &nbsp {{ sermon.publish | date }}
        </p>

        <figure class="mt-2">
            <blockquote class="blockquote">
              <h3>{{ sermon.title }}</h3>
            </blockquote>

            <figcaption class="blockquote-footer">
              Bible Verse: <cite title="Source Title">{{ sermon.readings }}</cite>
            </figcaption>

          </figure>

        
        <div class="mt-2" style="text-align: justify;">
            {{ sermon.content | safe }}
        </div>
    </div>

    {% endblock %}