{% extends 'base.html' %}
{% load static %}

{% block title %}
Sermons
{% endblock %}

{% block content %}
<!-- header image -->

<div class="about-header position-relative">
    <h1 class="header-text text-light top-50">Sermons</h1>
  </div>

  <!-- header image end-->
  
  <div class="container-fluid">

    <!-- Sermons -->
    <div class="row gap-5 justify-content-center mt-4">

        <!-- Single Cont -->
      <div class="col-lg-3 col-md-4 col-8">

        <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="zoom-in-right"
            data-aos-duration="2000"
            class="card shadow-sm position-relative" style="width: auto;">

          <img src="./assets/sermon.jpg" class="card-img-top" alt="sermin-img">

          <div class="bg-danger bg-opacity-75 text-center position-absolute top-50 start-100 translate-middle rounded-pill floating-bar">
            
            <a href="" class="">
              <span class="fa fa-youtube text-center pt-3 sermon-link"></span>
            </a>

            <hr class="text-light position-relative">
            <a href="">
              <span class="fa-solid fa-book-open sermon-link text-center pt-2 pb-3"></span>
            </a>
          </div>

          <div class="card-body sermon-body">
            <p class="text-uppercase text-danger opacity-100" style="font-size:smaller; margin-bottom: -2px;">Juma Antony / OCT 23, 2022</p>
            <h4 class="card-title">
              <a href="sermon-detail.html" class="text-decoration-none sermon-title"> Spiritually Reborn</a>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
         
        </div>
                      
      </div>

      <!-- Single Cont -->
      <div class="col-lg-3 col-md-4 col-8">

        <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="zoom-in-right"
            data-aos-duration="2000"
            class="card shadow-sm position-relative" style="width: auto;">

          <img src="./assets/sermon.jpg" class="card-img-top" alt="sermin-img">

          <div class="bg-danger bg-opacity-75 text-center position-absolute top-50 start-100 translate-middle rounded-pill floating-bar">
            
            <a href="" class="">
              <span class="fa fa-youtube text-center pt-3 sermon-link"></span>
            </a>

            <hr class="text-light position-relative">
            <a href="">
              <span class="fa-solid fa-book-open sermon-link text-center pt-2 pb-3"></span>
            </a>
          </div>

          <div class="card-body sermon-body">
            <p class="text-uppercase text-danger opacity-100" style="font-size:smaller; margin-bottom: -2px;">Juma Antony / OCT 23, 2022</p>
            <h4 class="card-title">
              <a href="sermon-detail.html" class="text-decoration-none sermon-title"> Spiritually Reborn</a>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
         
        </div>
                      
      </div>

      <!-- Single Cont -->
      <div class="col-lg-3 col-md-4 col-8">

        <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="zoom-in-right"
            data-aos-duration="2000"
            class="card shadow-sm position-relative" style="width: auto;">

          <img src="./assets/sermon.jpg" class="card-img-top" alt="sermin-img">

          <div class="bg-danger bg-opacity-75 text-center position-absolute top-50 start-100 translate-middle rounded-pill floating-bar">
            
            <a href="" class="">
              <span class="fa fa-youtube text-center pt-3 sermon-link"></span>
            </a>

            <hr class="text-light position-relative">
            <a href="">
              <span class="fa-solid fa-book-open sermon-link text-center pt-2 pb-3"></span>
            </a>
          </div>

          <div class="card-body sermon-body">
            <p class="text-uppercase text-danger opacity-100" style="font-size:smaller; margin-bottom: -2px;">Juma Antony / OCT 23, 2022</p>
            <h4 class="card-title">
              <a href="sermon-detail.html" class="text-decoration-none sermon-title"> Spiritually Reborn</a>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
         
        </div>
                      
      </div>

      <!-- Single Cont -->
      <div class="col-lg-3 col-md-4 col-8">

        <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="zoom-in-right"
            data-aos-duration="2000"
            class="card shadow-sm position-relative" style="width: auto;">

          <img src="./assets/sermon.jpg" class="card-img-top" alt="sermin-img">

          <div class="bg-danger bg-opacity-75 text-center position-absolute top-50 start-100 translate-middle rounded-pill floating-bar">
            
            <a href="" class="">
              <span class="fa fa-youtube text-center pt-3 sermon-link"></span>
            </a>

            <hr class="text-light position-relative">
            <a href="">
              <span class="fa-solid fa-book-open sermon-link text-center pt-2 pb-3"></span>
            </a>
          </div>

          <div class="card-body sermon-body">
            <p class="text-uppercase text-danger opacity-100" style="font-size:smaller; margin-bottom: -2px;">Juma Antony / OCT 23, 2022</p>
            <h4 class="card-title">
              <a href="sermon-detail.html" class="text-decoration-none sermon-title"> Spiritually Reborn</a>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
         
        </div>
                      
      </div>

      <!-- Single Cont -->
      <div class="col-lg-3 col-md-4 col-8">

        <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="zoom-in-right"
            data-aos-duration="2000"
            class="card shadow-sm position-relative" style="width: auto;">

          <img src="./assets/sermon.jpg" class="card-img-top" alt="sermin-img">

          <div class="bg-danger bg-opacity-75 text-center position-absolute top-50 start-100 translate-middle rounded-pill floating-bar">
            
            <a href="" class="">
              <span class="fa fa-youtube text-center pt-3 sermon-link"></span>
            </a>

            <hr class="text-light position-relative">
            <a href="">
              <span class="fa-solid fa-book-open sermon-link text-center pt-2 pb-3"></span>
            </a>
          </div>

          <div class="card-body sermon-body">
            <p class="text-uppercase text-danger opacity-100" style="font-size:smaller; margin-bottom: -2px;">Juma Antony / OCT 23, 2022</p>
            <h4 class="card-title">
              <a href="sermon-detail.html" class="text-decoration-none sermon-title"> Spiritually Reborn</a>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
         
        </div>
                      
      </div>

      <!-- Single Cont -->
      <div class="col-lg-3 col-md-4 col-8">

        <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="zoom-in-right"
            data-aos-duration="2000"
            class="card shadow-sm position-relative" style="width: auto;">

          <img src="./assets/sermon.jpg" class="card-img-top" alt="sermin-img">

          <div class="bg-danger bg-opacity-75 text-center position-absolute top-50 start-100 translate-middle rounded-pill floating-bar">
            
            <a href="" class="">
              <span class="fa fa-youtube text-center pt-3 sermon-link"></span>
            </a>

            <hr class="text-light position-relative">
            <a href="">
              <span class="fa-solid fa-book-open sermon-link text-center pt-2 pb-3"></span>
            </a>
          </div>

          <div class="card-body sermon-body">
            <p class="text-uppercase text-danger opacity-100" style="font-size:smaller; margin-bottom: -2px;">Juma Antony / OCT 23, 2022</p>
            <h4 class="card-title">
              <a href="sermon-detail.html" class="text-decoration-none sermon-title"> Spiritually Reborn</a>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
         
        </div>
                      
      </div>

       

      <div class="mt-5 text-center">
        <input type="submit" value="LOAD MORE" class="fw-medium btn btn-danger btn-outline-dark border-0 rounded-pill p-2 px-4">
      </div>
    </div>


    <!-- Sermons end-->

{% endblock %}