 <!-- Services available -->
      
 <div class="programs container-fluid mt-5 mb-2">

    <div class="program-cont justify-content-center row p-2">
        <div class="col-lg-5 col-md-5 col-12 mt-4">
            <h3 class="text-light fw-bold text-center py-5">
                Join Us Every Sunday to Worship and Fellowship Together
            </h3>

        </div>

        <div class="col-lg-5 col-md-5 col-12 mt-3">

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <i class="fa-solid fa-church"></i>&nbsp Order of Services
                            </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-bold">
                            First Service - 07:00 Am - 09:00 Am - Kiswahili <br><br> Second Service - 09:30 Am - 11:00 Am - English <br><br> Third Service - 11:30 Am - 01:00 Pm - Kiswahili
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <i class="fa-solid fa-hands-holding-child"></i>&nbsp Sunday School
                            </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-bold">Sunday 09:00 Am - 11:00 Am</div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <i class="fa-solid fa-children"></i>&nbsp Teens Service
                            </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-bold">Sunday 09:00 Am - 11:00 Am</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <i class="fa-solid fa-person-praying"></i>&nbsp Revival Service 
                            </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-bold">Thursday- 4:00 Pm - 6:00 Pm</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                <i class="fa-solid fa-person-praying"></i>&nbsp Lunch Hours
                            </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-bold">Monday - Friday 1:00 Pm - 2:00 Pm</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

  <!-- Services end -->