<ul class="list-unstyled">
    <h4 class="fw-bold text-dark p-2"> Church Groups</h4>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:kama' %}" class="text-decoration-none side-link">Kenya Anglican Church Men Association</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:women' %}" class="text-decoration-none side-link">Mothers' Union & CWF</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:youth' %}" class="text-decoration-none side-link">Kenya Anglican Youth Organization</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:boys' %}" class="text-decoration-none side-link">Boys' Brigade</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:girls' %}" class="text-decoration-none side-link">Girls's Friendly Society</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:children' %}" class="text-decoration-none side-link">Children's Ministry</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:praise' %}" class="text-decoration-none side-link">Praise and Adoration</a>
    </li>
    <li class="p-2">
      <i class="fa-solid fa-chevron-right text-danger">&nbsp;</i><a href="{% url 'church:choir' %}" class="text-decoration-none side-link">Church Choir</a>
    </li>
    
  </ul>