{% extends 'base.html' %}
{% load static %}

{% block title %}
Women Ministry
{% endblock %}

{% block content %}
    <!-- header image -->

    <div class="about-header position-relative">
        <h1 class="header-text text-light top-50">Women's Ministry</h1>
    </div>

      <!-- header image end-->

        <div class="text-center ministry-icon-cont position-relative bg-light top-50 start-50 translate-middle">
            <i class="fa-solid fa-person-dress fa-2x ministry-icon text-danger"></i>
        </div>
      
    <div class="container-fluid">

        <div class="mt-4 container">
            

            <p style="text-align: justify;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate corporis dolor distinctio veniam aperiam, beatae dignissimos expedita maiores eos commodi rem quasi molestiae saepe perferendis. Odio ad officia dolorum mollitia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi recusandae ratione ad enim dolorem, quaerat corrupti exercitationem accusantium temporibus, sapiente consequatur tempore, qui consectetur minima officiis earum doloribus neque possimus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vitae quaerat aut ea minus dolorum! Sed soluta, voluptatem vero similique facere vel dignissimos. Accusamus harum impedit id, magni sed quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. A est dignissimos enim expedita dolor earum fugiat, quasi harum laboriosam ut hic officiis impedit ab deserunt voluptatum, sequi aspernatur possimus esse!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo similique laudantium facilis consequatur fuga nemo, cumque harum, illum eaque dolores non impedit fugiat laborum iure vel suscipit odio modi ipsam?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sint ea quis in magnam corporis recusandae maiores odit tempora, beatae amet voluptatum. Dolores aliquid voluptatibus temporibus nisi repellendus enim quas.

                <br>
                <br>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius asperiores accusantium cupiditate soluta veniam, sunt dolores nemo suscipit nulla. Magnam amet consequuntur voluptatibus quos maiores doloribus quaerat voluptatum. Placeat, porro.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reiciendis quos eveniet laudantium nemo eligendi sunt rem optio laborum asperiores aperiam dicta, non fuga commodi eum accusantium velit molestiae quaerat!
                </p>
            </p>
                
        </div>
        
{% endblock %}