{% extends 'base.html' %}
{% load static %}

{% block title %}
Mother's Union & CWF
{% endblock %}

{% block content %}
    <!-- header image -->
  
    <div class="card bg-dark text-white header-sect rounded-0 border-0">
        <div class="card-img header-img member-header"> </div>
        <div class="card-img-overlay">
          <h2 class="card-title header-text">Mother's Union & CWF </h2>
          <p class="m-4 mt-1"> 
             I can do all this through Christ who strengthens me - 
            <span class="fst-italic"> Philipians 4:13</span>
        </p>
        </div>
      </div>
  
    <!-- header image end-->

   
        <img src="{% static './assets/mothersunion.png' %}" class="position-relative ministry-icon rounded-circle top-50 start-50 translate-middle" alt="kama">
 
  
  <div class="container-fluid">

    <div class="mt-1 container">
        
       <div class="row mx-auto justify-content-center">
            <div class="col-lg-8 col-md-6 col-12">
                <p style="text-align: justify;">
                    The Mother’s Union is the oganization that brings together women of the Anglican denomination from around the world. 
                    Mother’s Union focuses on entrenching and nurturing Christian Care for Families. <br>

                    The Mother's Union was founded in 1876 by Mary Sumner, a member of Church of England parish of Old Alresford, 
                    near Winchester. Her inspiration to start the movement came after the birth of her first grandchild, 
                    she remebered her motherhood challenges and wanted to pool together mothers of all social classes to provide 
                    support for one another and to be trained in motherhood. In Kenya, the movement started in 1918 by settler women. <br>
                </p>

            
                <h4 class="text-center">Mother's Union & CWF Objectives</h4>
                <ul> 
                    <li>Manage the transitions from lower levels to mothering in the church </li>
                    <li>play a motherly role to the youth in the church through inculcation of Christian values and teachings and offering a shoulder to cry on </li>
                    <li>Assist mothers in surmounting life challenges that are part of everyday living</li>
                    <li>Mentor the youth in our church to grow Christ-like</li>
                    <li>To uphold MU constitution and its objectives </li>
                    <li>To encourage parents to bring up their children in their Anglican faith</li>
                    <li>To maintain a worldwide fellowship united in prayer worship and services</li>
                    <li>To evangelize to none MU members in our society</li>
                    <li>To help those whose lives have been met with adversity </li>
                    <li>To create ways and means of uplifiting the standard of christian women </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                {% include 'side_bar.html' %}
            </div>
        </div>
                
    </div>
{% endblock %}