{% extends 'base.html' %}
{% load static %}

{% block title %}
Kenya Anglican Youth Organization
{% endblock %}

{% block content %}
    <!-- header image -->
  
    <div class="card bg-dark text-white header-sect rounded-0 border-0">
        <div class="card-img header-img member-header"> </div>
        <div class="card-img-overlay">
          <h2 class="card-title header-text">Kenya Anglican Youth Organization</h2>
          <p class="m-4 mt-1"> 
             Be strong in the Lord - 
            <span class="fst-italic"> Ephesians 6:10</span>
        </p>
        </div>
      </div>
  
    <!-- header image end-->

   
        <img src="{% static './assets/youth.png' %}" class="position-relative ministry-icon rounded-circle top-50 start-50 translate-middle" alt="kama">
 
  
  <div class="container-fluid">

    <div class="mt-1 container">
        
       <div class="row mx-auto justify-content-center">
        <div class="col-lg-8 col-md-6 col-12">
            <p style="text-align: justify;">
                In 1962, the then Bishop of (the former) Mt. Kenya Diocese, the late Obadiah Kariuki, had a vision for young people. He established the Anglican Youth Organization (AYO) with the main aim of bringing the young people back to the mainstream of the Church of Christ.<br>

                In 1964, the bishop launched the Diocesan Anglican Youth Organization at the St. Paul’s Mother Church, Kabete and he commissioned a Youth Committee to carry on the extension work in the Diocese. During the following Provincial Synod, all the other Bishops agreed to start AYO in their dioceses. The name was changed from AYO to KAYO so as to cover the whole country. 
            </p>
        
        
            <h4 class="text-center">Kenya Anglican Youth Organization Objectives</h4>
            <ul> 
                <li>Bring the youth closer to the lord</li>
                <li>Mentorship</li>
                <li>Grow the youth Ministry</li>
                <li>Training and capacity building programs</li>
                <li>Involvle the youth in adding value to their own youth programs</li>
                <li>Increase youth participation in Church activities</li>
                <li>Help the youth remain rooted in God</li>
                <li>Psycho-social support</li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
            {% include 'side_bar.html' %}
        </div>
    </div>
            
    </div>
{% endblock %}